<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../frontEnd/css/shoppingHistory.css">

<body>

    ​ <div class="container border-white border border-3 " id="app">
        <div class="row file1">
            <div class="col text-center ">
                <i class="fa-thin fa-arrow-right-from-arc"></i>
            </div>
        </div>
        <div class="row file2">
            <div class="col title">
                <h2>Historial de compras</h2>
            </div>
        </div>
        
        <!-- tabla-->
        <div class="row file-3" id="tabla">
            <div class="container pe-3 ps-3">
                <div class="table-responsive">
                    <table class="table table-bordered  border-dark  mt-4  table-strip text-center">
                        <thead class="table">
                            <tr>
                                <th class="col-3">Imagen</th>
                                <th class="col-3">Nombre</th>
                                <th class="col-3">Especie</th>
                                <th class="col-3">Valor</th>
                                
                            </tr>
                        </thead>
                        <tbody v-if="loguedUser[0].history.length">
                            <tr class="body" v-for="(item,index)  in  loguedUser[0].history">


                                <td ><img :src="item.image"class="rounded-circle" alt=""></td>
                                <td v-text="item.name"></td>
                                <td v-text="item.species"></td>
                                <td v-text="item.price"></td>
                               
                                

                            </tr>

                        </tbody>
                        <tbody v-else >
                            <tr>
                                <td class="text-center d-flex justify-content-center">Tu lista de vehículos está vacía</td>
                            </tr>
                        </tbody>
                        

                    </table>
                </div>
            </div>
        </div>


    </div>






    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="../backEnd/shoppingHistory.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

</body>

</html>