@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body{
  background-color: black;
}
.form{
    margin: 0px auto;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0.9;
    font-weight: 600;
    font-size: 22px;
  }
  .title {
    color:  #68c61a; 
    font-family: 'Peralta', cursive;
    font-size: 2rem;
    border-color: black; 
}
.button {
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 30px;
  background-color: #68c61a;  
  font-family: 'Gemunu Libre', sans-serif; 
}

.button:hover{
  background-color: white;
  color: #02b1c8;
  border: 1px solid black;
}