@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.form{
    margin: 10% auto;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0.6;
    font-weight: 600;
    font-size: 22px;
  }
  .title {
    color: #02b1c8;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 85%;
    border-color: black; 
}