@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body{
    background-color: black;
}
a {
    text-decoration: none;
}
a:hover {
    color: white;
}
.button {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
    background-color: #68c61a;  
}

.button:hover{
    background-color: white;
    color:black;
    border: 1px solid black;
}
.card {
    background-color: rgb(69, 71, 77);
    color: #02b1c8;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 85%;
    border-color: black; 
    font-weight: 900;
    font-size: 1.4rem;
    font-family: 'Peralta', cursive;
}
